html {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  cursor: default;
}

input,
textarea,
select,
button,
img {
  -webkit-user-drag: none;
}

.draggable {
  -webkit-app-region: drag;
}

.selectable {
  -webkit-user-select: auto;
  cursor: auto;
}

h1 {
  text-align: center;
}

video {
  position: relative;
  width: 90vw;
  height: auto;
  max-height: 75vh;
  left: 50%;
  transform: translateX(-50%);
}

#controller {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
}